# Product data EDA

In [6]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import sys
import os
from dotenv import load_dotenv

In [3]:
os.chdir('..')

In [16]:
from src.data_ingestion.data_ingestion import read_csv_data_from_hadoop
from src.utils.data_preprocessing import  is_missing_value , find_outlier_box_plot ,find_outliers_IQR , remove_missing_values , remove_outliers , count_missing_values_per_column

In [8]:
load_dotenv()
hadoop_raw_data_path = os.getenv('hadoop_raw_data_path')
product_data_path = '/product.csv'
path = hadoop_raw_data_path + product_data_path

In [9]:
#laod data from hadoop 
data = read_csv_data_from_hadoop(hadoop_data_directory=path)

In [10]:
data.show(5)

+-----+------+--------------+-----------+-----------+----------+------+----+------+--------------------+
|   id|gender|masterCategory|subCategory|articleType|baseColour|season|year| usage|  productDisplayName|
+-----+------+--------------+-----------+-----------+----------+------+----+------+--------------------+
|15970|   Men|       Apparel|    Topwear|     Shirts| Navy Blue|  Fall|2011|Casual|Turtle Check Men ...|
|39386|   Men|       Apparel| Bottomwear|      Jeans|      Blue|Summer|2012|Casual|Peter England Men...|
|59263| Women|   Accessories|    Watches|    Watches|    Silver|Winter|2016|Casual|Titan Women Silve...|
|21379|   Men|       Apparel| Bottomwear|Track Pants|     Black|  Fall|2011|Casual|Manchester United...|
|53759|   Men|       Apparel|    Topwear|    Tshirts|      Grey|Summer|2012|Casual|Puma Men Grey T-s...|
+-----+------+--------------+-----------+-----------+----------+------+----+------+--------------------+
only showing top 5 rows

In [11]:
df = pd.DataFrame(data.take(data.count()), columns=data.columns)
df.head(5)

,id,gender,masterCategory,subCategory,articleType,baseColour,season,year,usage,productDisplayName
0,15970,Men,Apparel,Topwear,Shirts,Navy Blue,Fall,2011.0,Casual,Turtle Check Men Navy Blue Shirt
1,39386,Men,Apparel,Bottomwear,Jeans,Blue,Summer,2012.0,Casual,Peter England Men Party Blue Jeans
2,59263,Women,Accessories,Watches,Watches,Silver,Winter,2016.0,Casual,Titan Women Silver Watch
3,21379,Men,Apparel,Bottomwear,Track Pants,Black,Fall,2011.0,Casual,Manchester United Men Solid Black Track Pants
4,53759,Men,Apparel,Topwear,Tshirts,Grey,Summer,2012.0,Casual,Puma Men Grey T-shirt

In [12]:
df.shape

(44446, 10)

In [15]:
#check if missing values exist in the dataset
is_missing_value(df)

np.True_

In [18]:
# count column missing values
count_missing_values_per_column(df)

id                     0
gender                 0
masterCategory         0
subCategory            0
articleType            0
baseColour             0
season                21
year                   1
usage                  1
productDisplayName     0
dtype: int64